<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="main.css">
        <title> <%= title%> </title>

    </head>

    <body>

        <header class="header">

            <div class="header__logo">

                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 505 103">
                <text transform="translate(0 81.7)" style="font-size: 98.1px;"><tspan x="0" y="0" style="font-family: MavenPro-Medium, &apos;Maven Pro&apos;; font-weight: 500;">our</tspan><tspan x="153.5" y="0" style="font-family: MavenPro-Black, &apos;Maven Pro&apos;; font-weight: 800;">Library</tspan></text></svg>

            </div>

        </header>

        <div class="curve-bottom">

            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 15.6">

                <path d="M0,0C74,32,197-7,298,10S512,0,512,0"/>
                
            </svg>

        </div>

        <main>

            <div class="error">

                <div class="error__msg"> 

                    <h2> Wrong keyword, you don't have premission to access <span> ourLibrarySite.onrender.com </span> </h2> 

                </div>

                <div class="error__btn">

                    <a href="/" class="error__link"> Try again </a>

                </div>

            </div>

        </main>

        <footer class="about about__bottom">

            <div class="about__desc"> &copy; 2023 Hosam Umbaddi | <span> ourLibrarySite.onrender.com </span> dashboard </div>

        </footer>
        
    </body>

</html>